<h3>Редактировать ингредиент "{{ ingredient.title }}"</h3>
<br/>
<form action="/admin/ingredients/edit?_csrf={{csrf}}" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
        <span><label>Изображение</label></span>
        <div class="input-image"></div>
        <div class="preloaded-images">
            {{#if ingredient.image}}
                <div class="preloaded-image" style="display: none;" data-id="0" data-src={{ingredient.image}}></div>
            {{/if}}
        </div>
        <span class="helper-text" data-error="Выберите изображение"></span>
    </div>
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{ ingredient.title }}">
        <label for="title">Название</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea validate"
            required>{{ ingredient.description }}</textarea>
        <label for="description">Описание</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>

    <input type="hidden" name="id" value="{{ ingredient._id }}">
    <button class="btn btn-primary">Изменить</button>
</form>