<h3>Редактировать новость "{{ news.title }}"</h3>
<br/>
<form action="/admin/news/edit?_csrf={{csrf}}" method="POST" enctype="multipart/form-data">
    <div class="input-field col s12">
        <input id="title" name="title" type="text" class="validate" required value="{{news.title}}">
        <label for="title">Название</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field col s12">
        <input id="date" name="date" type="date" class="validate" required value="{{ news.date }}">
        <label for="date">Дата</label>
        <span class="helper-text" data-error="Выберите дату"></span>
    </div>
    <div class="file-field input-field">
        <span><label>Изображение</label></span>
        <div class="input-news-image"></div>
        <div class="preloaded-images">
            {{#if news.newsImage}}
                <div class="preloaded-image" style="display: none;" data-id="0" data-src={{news.newsImage}}></div>
            {{/if}}
        </div>
        <span class="helper-text" data-error="Выберите изображение"></span>
    </div>

    <div class="input-field">
        <textarea id="annotation" name="annotation" class="materialize-textarea validate"
            required>{{ news.annotation }}</textarea>
        <label for="annotation">Аннотация</label>
        <span class="helper-text" data-error="Напишите аннотацию"></span>
    </div>


    <div class="input-field">
        <textarea id="content" name="content" class="materialize-textarea validate"
            required>{{ news.content }}</textarea>
        <label for="content">Текст новости</label>
        <span class="helper-text" data-error="Напишите текст новости"></span>
    </div>

    <input type="hidden" name="id" value="{{ news._id }}">
    <button class="btn btn-primary">Изменить</button>
</form>