<h3>Редактировать "{{ product.title }}"</h3>
<br/>
<form action="/admin/{{ product.page }}/edit?_csrf={{csrf}}" method="POST" enctype="multipart/form-data">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{ product.title }}">
        <label for="title">Название</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea validate" required>{{ product.description }}</textarea>
        <label for="description">Описание</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>
    <div class="file-field input-field">
        <div class="btn">
            <span>Заменить главное изображение</span>
            <input type="file" id="mainImage" name="mainImage" accept="image/jpeg, image/jpg, image/png">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            <span class="helper-text" data-error="Выберите изображение"></span>
        </div>
    </div>
    {{!-- <div class="file-field input-field">
        <div class="btn">
            <span>Все изображения</span>
            <input type="file" id="images" name="images" accept="image/jpeg, image/jpg, image/png" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
            <span class="helper-text" data-error="Выберите изображения"></span>
        </div>
    </div> --}}
    <div class="input-field">
        <input id="ingredients" name="ingredients" type="text" class="validate" required value="{{ product.ingredients }}">
        <label for="ingredients">Состав</label>
        <span class="helper-text" data-error="Введите состав"></span>
    </div>
    <div class="input-field">
        <textarea id="package" name="package" class="materialize-textarea validate" required>{{ product.ingredients }}</textarea>
        <label for="package">Упаковка</label>
        <span class="helper-text" data-error="Введите упаковку"></span>
    </div>
    <div class="input-field">
        <textarea id="conditions" name="conditions" class="materialize-textarea validate" required>{{ product.conditions }}</textarea>
        <label for="conditions">Условия и срок хранения</label>
        <span class="helper-text" data-error="Введите условия и срок хранения"></span>
    </div>
    <div class="input-field">
        <select id="category" name="category" required>
            <option value="" disabled selected>Категория</option>
            {{#each selectCategory}}
            <option value="{{value}}" {{#if selected}} selected {{/if}}>{{name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="hidden" name="id" value="{{ product._id }}">
    <button class="btn btn-primary">Изменить</button>
</form>