<h3>{{ title }}</h3>
<br />
<form action="/admin/{{ page }}/add?_csrf={{csrf}}" method="POST" enctype="multipart/form-data">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Название</label>
        <span class="helper-text" data-error="Введите название"></span>
    </div>
    <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea validate" required></textarea>
        <label for="description">Описание</label>
        <span class="helper-text" data-error="Введите описание"></span>
    </div>
    <div class="file-field input-field">
        <span><label>Главное изображение продукта</label></span>
        <div class="input-main-image"></div>
        <span class="helper-text" data-error="Выберите главное изображение для продукта"></span>
    </div>
    <div class="file-field input-field">
        <span><label>Дополнительные изображения продукта</label></span>
        <div class="input-images"></div>
        <span class="helper-text" data-error="Выберите изображения для продукта"></span>
    </div>
    <div class="input-field">
        <input id="ingredients" name="ingredients" type="text" class="validate" required>
        <label for="ingredients">Состав</label>
        <span class="helper-text" data-error="Введите состав"></span>
    </div>
    <div class="input-field">
        <textarea id="package" name="package" class="materialize-textarea validate" required></textarea>
        <label for="package">Упаковка</label>
        <span class="helper-text" data-error="Введите упаковку"></span>
    </div>
    <div class="input-field">
        <textarea id="conditions" name="conditions" class="materialize-textarea validate" required></textarea>
        <label for="conditions">Условия и срок хранения</label>
        <span class="helper-text" data-error="Введите условия и срок хранения"></span>
    </div>
    <div class="input-field">
        <select id="category" name="category" required>
            <option value="" disabled selected>Категория</option>
            {{#each selectCategory}}
            <option value="{{value}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <button class="btn btn-primary">Создать</button>
</form>