
    <div class="wrapper">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li>{{ title }}</li>
        </ul>
        <h1>{{ title }}</h1>
    </div>
    <div class="contacts-banner">
        <img src="/image/contacts-banner.jpg" alt="">
        <p>{{ textAbout }}</p>
    </div> 
    <div class="wrapper">
        <div class="about-company">
            <p class="about-company__promo">{{ textMain }}</p>
            <p class="about-company__item">{{ textItem1 }}</p>
            <p class="about-company__item">{{ textItem2 }}</p>
            <p class="about-company__item">{{ textItem3 }}</p>
        </div>
