<div class="main-banner">
    <div class="wrapper">
        <div class="main-banner__promo">
            <div class="promo-inner">
                <p>{{ textIngredient }}</p>
                <a href="/company" class="button">Подробнее</a>
            </div>
            <svg width="100%" height="100%">
                <defs>
                    <mask id="leaves">
                        <g fill="black">
                            <rect width="100%" height="100%" fill="white"></rect>
                            <g style="transform: translate(calc(100% - 96px), calc(100% - 89px))">
                                <path class="cls-1"
                                    d="M1.82,66.06c-4.39-9.42.54-21,.54-21s12,3.7,16.42,13.12-.55,21-.55,21S6.2,75.48,1.82,66.06Z" />
                                <path class="cls-1"
                                    d="M44.72,24.44C38.84,35,24.56,38.31,24.56,38.31S19.8,24.45,25.68,13.87,45.83,0,45.83,0,50.59,13.86,44.72,24.44Z" />
                                <path class="cls-1"
                                    d="M67.89,49.1C58.33,47.2,52.29,37,52.29,37s9.47-7.06,19-5.16S86.93,43.94,86.93,43.94,77.46,51,67.89,49.1Z" />
                            </g>
                        </g>
                    </mask>
                </defs>
                <rect mask="url(#leaves)" fill="#391306" width="100%" height="100%"></rect>
            </svg>
        </div>
    </div>
</div>
<section class="main-promo">
    <div class="wrapper">
        <h1>О СевМаркет</h1>
        <p class="promo__text">{{ textAbout }}</p>
        <a href="/contacts" class="button">Подробнее</a>
        <img class="leaves-back left" src="/image/leaves.png" alt="" />
    </div>
</section>
<section class="main-production gray" id="production">
    <div class="wrapper">
        <h1>Продукция</h1>
        <div class="production-items">
            <div class="production__item">
                <a href="/ingredients">
                    <div class="green-hover">
                        <img src="/image/production-ingredient.png" alt="">
                    </div>
                    <h3>Ингредиенты</h3>
                </a>
            </div>
            <div class="production__item">
                <a href="/mixes">
                    <div class="green-hover">
                        <img src="/image/production-mix.png" alt="">
                    </div>
                    <h3>Смеси</h3>
                </a>
            </div>
            <div class="production__item">
                <a href="/prepared-meal">
                    <div class="green-hover">
                        <img src="/image/production-ready.png" alt="">
                    </div>
                    <h3>Готовые изделия</h3>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="main-news">
    <div class="wrapper">
        <h1>Новости</h1>
        {{#if news.length}}
        <div class="news-items">
            {{#each news}}
            <div class="news__item">
                <a href="/news/{{_id}}">
                    <img src="{{ newsImage }}" alt="newsImage">
                    <div class="news__item-inner">
                        <p class="news__data">{{ date }}</p>
                        <p class="news__title">{{ title }}</p>
                        <p class="news__intro">{{ annotation }}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    <div class="btn-center">
        <a href="/news" class="button">Больше новостей</a>
    </div>
    </div>
</section>
<section class="main-contacts gray">
    <div class="wrapper">
        <h1>Контакты</h1>
        <div class="contacts-items">
            <div class="contacts__info">
                <h4>Наш адрес:</h4>
                <p>{{ address}}</p>
                <h4>Связаться с нами:</h4>
                <p><a href="tel:{{ phone }}">{{ phone }}</a></p>
                <p><a href="mailto:{{ email }}">{{ email }}</a></p>
                <div class="socials">
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.37 24.37">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #391306;
                                    }
                                </style>
                            </defs>
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="Layer_2" data-name="Layer 2">
                                    <path class="cls-1"
                                        d="M8.12,12.18a4.07,4.07,0,1,1,4.06,4.07,4.06,4.06,0,0,1-4.06-4.07m-2.19,0a6.26,6.26,0,1,0,6.25-6.25,6.25,6.25,0,0,0-6.25,6.25m11.3-6.5a1.46,1.46,0,1,0,1.46-1.46,1.46,1.46,0,0,0-1.46,1.46M7.26,22.1A6.53,6.53,0,0,1,5,21.68a3.65,3.65,0,0,1-1.4-.91,3.73,3.73,0,0,1-.91-1.4,6.53,6.53,0,0,1-.42-2.26c-.06-1.29-.07-1.67-.07-4.93s0-3.63.07-4.92A6.53,6.53,0,0,1,2.69,5,3.65,3.65,0,0,1,3.6,3.6,3.8,3.8,0,0,1,5,2.68a6.85,6.85,0,0,1,2.26-.41c1.29-.06,1.67-.08,4.92-.08s3.64,0,4.93.08a6.85,6.85,0,0,1,2.26.41,3.88,3.88,0,0,1,1.4.92A3.65,3.65,0,0,1,21.68,5a6.53,6.53,0,0,1,.42,2.26c.06,1.29.07,1.67.07,4.92s0,3.64-.07,4.93a6.53,6.53,0,0,1-.42,2.26,3.73,3.73,0,0,1-.91,1.4,3.65,3.65,0,0,1-1.4.91,6.53,6.53,0,0,1-2.26.42c-1.29.06-1.67.07-4.93.07s-3.63,0-4.92-.07m-.1-22a9,9,0,0,0-3,.57A5.86,5.86,0,0,0,2.05,2.05,5.86,5.86,0,0,0,.64,4.2a9,9,0,0,0-.57,3C0,8.46,0,8.88,0,12.18s0,3.73.07,5a8.94,8.94,0,0,0,.57,2.95,5.81,5.81,0,0,0,1.41,2.16A5.86,5.86,0,0,0,4.2,23.73a9,9,0,0,0,3,.56c1.3.06,1.72.08,5,.08s3.73,0,5-.08a9,9,0,0,0,2.95-.56,5.89,5.89,0,0,0,2.16-1.41,5.81,5.81,0,0,0,1.41-2.16,8.72,8.72,0,0,0,.56-2.95c.06-1.3.08-1.72.08-5s0-3.72-.08-5a9,9,0,0,0-.56-3,5.86,5.86,0,0,0-1.41-2.15A5.86,5.86,0,0,0,20.17.64a9.07,9.07,0,0,0-3-.57C15.91,0,15.49,0,12.18,0s-3.72,0-5,.07" />
                                </g>
                            </g>
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.89 44.89">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #391306;
                                    }
                                </style>
                            </defs>
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="Layer_2" data-name="Layer 2">
                                    <path class="cls-1"
                                        d="M7.47,22l6,2.24,2.33,7.47a.71.71,0,0,0,1.12.34l3.34-2.73a1,1,0,0,1,1.22,0l6,4.38a.71.71,0,0,0,1.11-.43L33,12a.71.71,0,0,0-.95-.8L7.47,20.66a.71.71,0,0,0,0,1.32Zm8,1.05,11.73-7.22a.2.2,0,0,1,.24.32l-9.67,9a2,2,0,0,0-.62,1.19l-.33,2.45a.3.3,0,0,1-.59,0l-1.27-4.45A1.17,1.17,0,0,1,15.42,23Z" />
                                    <path class="cls-1"
                                        d="M22.45,44.89A22.45,22.45,0,1,1,44.89,22.45,22.47,22.47,0,0,1,22.45,44.89Zm0-41.07A18.63,18.63,0,1,0,41.08,22.45,18.64,18.64,0,0,0,22.45,3.82Z" />
                                </g>
                            </g>
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.89 44.89">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #391306;
                                    }
                                </style>
                            </defs>
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="Layer_2" data-name="Layer 2">
                                    <path class="cls-1"
                                        d="M19,42.36V28.48H14V22.73h5V18.36c0-5,3-7.73,7.51-7.73a30.31,30.31,0,0,1,4.44.39V15.9h-2.5C26,15.9,25.2,17.44,25.2,19v3.72h5.51l-.88,5.75H25.2V42.36Z" />
                                    <path class="cls-1"
                                        d="M22.45,44.89A22.45,22.45,0,1,1,44.89,22.45,22.47,22.47,0,0,1,22.45,44.89Zm0-41.07A18.63,18.63,0,1,0,41.08,22.45,18.64,18.64,0,0,0,22.45,3.82Z" />
                                </g>
                            </g>
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.25 41.44">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #391306;
                                        fill-rule: evenodd;
                                    }
                                </style>
                            </defs>
                            <g id="Слой_2" data-name="Слой 2">
                                <g id="Layer_2" data-name="Layer 2">
                                    <path class="cls-1"
                                        d="M35.24,6A20.54,20.54,0,0,0,.17,20.53,20.61,20.61,0,0,0,2.91,30.8L0,41.44l10.89-2.86a20.47,20.47,0,0,0,9.81,2.5h0A20.54,20.54,0,0,0,35.24,6M20.71,37.61h0A17,17,0,0,1,12,35.23l-.63-.37-6.46,1.7,1.73-6.3-.41-.65a17.07,17.07,0,1,1,14.46,8m9.37-12.78c-.52-.26-3-1.5-3.51-1.67s-.81-.26-1.16.26-1.32,1.67-1.62,2-.6.38-1.11.13A14,14,0,0,1,18.55,23a15.5,15.5,0,0,1-2.86-3.55c-.29-.52,0-.79.23-1.05s.51-.6.77-.9a3.37,3.37,0,0,0,.51-.85.94.94,0,0,0,0-.9C17,15.5,16,13,15.58,12s-.84-.87-1.16-.88-.64,0-1,0a1.9,1.9,0,0,0-1.37.64A5.76,5.76,0,0,0,10.28,16a9.94,9.94,0,0,0,2.09,5.31c.26.34,3.62,5.52,8.77,7.74a30.66,30.66,0,0,0,2.92,1.09,7.1,7.1,0,0,0,3.24.2c1-.15,3-1.24,3.46-2.44a4.25,4.25,0,0,0,.3-2.44c-.13-.21-.47-.34-1-.6" />
                                </g>
                            </g>
                        </svg></a>
                </div>
            </div>
            <div class="contacts__map">
                <iframe src="{{ map }}" width="100%" height="100%" frameborder="0" allowfullscreen="true"
                    style="position:relative;border-radius:20px;"></iframe>
            </div>
        </div>
    </div>
</section>