<div class="news-page">
    <div class="wrapper">
        <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li><a href="/news">{{ title }}</a></li>
        </ul>
        <h1>{{ title }} </h1>
        {{#if news.length}}
        <div class="news-items">
            {{#each news}}  
            <div class="news__item">
                <a href="/news/{{_id}}">
                    <img src="{{ newsImage }}" alt="newsImage">
                    <div class="news__item-inner">
                        <p class="news__data">{{ date }}</p>
                        <p class="news__title">{{ title }}</p>
                        <p class="news__intro">{{ annotation }}</p>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>